body{
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}
main{
    background-color: lightgreen;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}
footer{
    background-color: lightcoral;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}
header{
    background-color: lightpink;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}
a {
    color: green;
    text-decoration: none;
    transition: 1s 2s;
}
a:hover {
    color: red;
    text-decoration: underline;
    transition: 0.3s;
}
a:active{
    color: black;
    opacity: 0.3;
}
/* a:link{
    color: aquamarine;
}
a:visited{
    color: coral;
} */
div.menu{
    border: 1px solid #00880080;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
}
div.menu:hover{
    background-color: #ffffff30;
    box-shadow: 0px 0px 15px #00000030;
}
