body{
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}
main{
    background-color: lightgreen;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}
footer{
    background-color: lightpink;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}
header{
    background-color: lightcoral;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}